@import "tailwindcss";

/* @import url(/src/styles/colors.css); */
@theme {

    --color-primary: #7C71DF;
    --color-secondary: #F8F7FB;
}

/* @layer components {
    .typography {
        color: var(--primary-color);

        a {
            color: var(--primary-color);

            &:hover {
                color: var(--color-blue-800);
            }
        }
    }
} */